# ===========================
# 🌤️ Weather API (OpenWeather)
# ===========================
# API key da OpenWeather (obtenha em: https://openweathermap.org/api)
WEATHER_API_KEY=your_openweather_api_key_here
# URL base da API
WEATHER_API_URL=https://pro.openweathermap.org
# Coordenadas padrão para testes (latitude e longitude)
FAKE_LAT=-23.59808
FAKE_LON=-46.69022


# ===========================
# 🌦️ Visual Crossing API
# ===========================
# API key da Visual Crossing (obtenha em: https://www.visualcrossing.com/weather-api)
VISUAL_CROSSING_API_KEY=your_visual_crossing_api_key_here
# URL base da API
VISUAL_CROSSING_API_URL=https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline
